extends layout

block content
  .navbar
    h2.nav-header Members Only 
    if currentUser
      if currentUser.memberStatus === true
        .nav-links
          p #{currentUser.userName}
          a(href="/create-message") Create message 
          a(href="/log-out") Log out 
      else
        .nav-links
          p #{currentUser.userName}
          a(href="/join-club") Join the club! 
          a(href="/log-out") Log out 

    else
      .nav-links
        a(href="/sign-up") Sign Up
        a(href="/log-in") Log In

  if messages 
    each message in messages 
      .message
        p.message-body #{message.body}
        if currentUser && currentUser.memberStatus === true
          .message-info
            p.message-author #{message.author.fullName}
            p.message-date #{message.date}
        else 
          .message-info
            p.message-author Author unknown
            p.message-date Date unknown
          
  else 
    .no-messages
      p There are no messages
  
